@{
    ViewBag.Title = "T1";
}
@functions{
    public bool ContainsNotNullProp(dynamic obj, string prop)
    {
        object tempObj = null;
        bool propExists = ((IDictionary<String, object>)obj).TryGetValue(prop, out tempObj);
        return propExists && tempObj != null;
    }
}
<table>
    <tr>
        <td colspan="2" style="font-size:22px;font-weight:bold;">ANCILLARY PROVIDER INFORMATION</td>
    </tr>
    <tr>
        <td colspan="2">
            Approval for scheduling has been submitted to the ancillary listed below. We will send appointment information once scheduled.
        </td>
    </tr>
    <tr>
        <td style="width:33%;">Patient Name:</td>
        @if (ContainsNotNullProp(Model.ARObject, "PatientName"))
        {
            <td>@Model.ARObject.PatientName</td>}
        else
        {
            <td></td>}

    </tr>
    <tr>
        <td>DOB:</td>
        @if (ContainsNotNullProp(Model.ARObject, "DateOfBirth"))
        {
            <td>@Model.ARObject.DateOfBirth</td>}
        else
        {
            <td></td>}

    </tr>
    <tr>
        <td>SSN:</td>
        @if (ContainsNotNullProp(Model.ARObject, "SSN"))
        {
            <td>@Model.ARObject.SSN</td>}
        else
        {
            <td></td>}

    </tr>
    <tr style="line-height:100%">
        <td colspan="2"></td>
    </tr>
    <tr>
        <td>Employer</td>
        @if (ContainsNotNullProp(Model.ARObject, "Client"))
        {
            <td>@Model.ARObject.Client</td>}
        else
        {
            <td></td>}

    </tr>
    <tr>
        <td>Location No:</td>
        @if (ContainsNotNullProp(Model.ARObject, "StoreID"))
        {
            <td>@Model.ARObject.StoreID</td>}
        else
        {
            <td></td>}

    </tr>
    <tr>
        <td>Claim No:</td>
        @if (ContainsNotNullProp(Model.ARObject, "ClaimNumber"))
        {
            <td>@Model.ARObject.ClaimNumber</td>}
        else
        {
            <td></td>}

    </tr>
    <tr>
        <td>DOI</td>
        @if (ContainsNotNullProp(Model.ARObject, "DOI"))
        {
            <td>@Model.ARObject.DOI</td>}
        else
        {
            <td></td>}

    </tr>
    <tr>
        <td style="vertical-align: top;">Approved Service:</td>
        @if (((ContainsNotNullProp(Model.ARObject, "ApprovedServices") && !String.IsNullOrEmpty(Model.ARObject.ApprovedServices)) || (ContainsNotNullProp(Model.ARObject, "ApprovedDetails") && !String.IsNullOrEmpty(Model.ARObject.ApprovedDetails)) || (ContainsNotNullProp(Model.ARObject, "ApprovedBodyPart") && !String.IsNullOrEmpty(Model.ARObject.ApprovedBodyPart))))
        {
            if (ContainsNotNullProp(Model.ARObject, "ApprovedDetails") && ContainsNotNullProp(Model.ARObject, "ApprovedBodyPart"))
            {
                <td style="text-transform:uppercase;">@Model.ARObject.ApprovedServices&nbsp;@Model.ARObject.ApprovedDetails&nbsp;@Model.ARObject.ApprovedBodyPart</td>}
            else if (ContainsNotNullProp(Model.ARObject, "ApprovedDetails"))
            {
                <td style="text-transform:uppercase;">@Model.ARObject.ApprovedServices&nbsp;@Model.ARObject.ApprovedDetails</td>}
            else if (ContainsNotNullProp(Model.ARObject, "ApprovedBodyPart"))
            {
                <td style="text-transform:uppercase;">@Model.ARObject.ApprovedServices&nbsp;@Model.ARObject.ApprovedBodyPart</td>}
            else
            {
                <td style="text-transform:uppercase;">@Model.ARObject.ApprovedServices</td>}
        }
        else if (ContainsNotNullProp(Model.ARObject, "SvcRequested"))
        {
            if (ContainsNotNullProp(Model.ARObject, "Details") && ContainsNotNullProp(Model.ARObject, "InjuryDesc"))
            {
                <td style="text-transform:uppercase;">@Model.ARObject.SvcRequested&nbsp;@Model.ARObject.Details&nbsp;@Model.ARObject.InjuryDesc</td>}
            else if (ContainsNotNullProp(Model.ARObject, "Details"))
            {
                <td style="text-transform:uppercase;">@Model.ARObject.SvcRequested&nbsp;@Model.ARObject.Details</td>}
            else if (ContainsNotNullProp(Model.ARObject, "InjuryDesc"))
            {
                <td style="text-transform:uppercase;">@Model.ARObject.SvcRequested&nbsp;@Model.ARObject.InjuryDesc</td>}
            else
            {
                <td style="text-transform:uppercase;">@Model.ARObject.SvcRequested</td>}
        }

        else
        {
            <td></td>}
    </tr>
    <tr style="margin-left:10px;margin-right:10px;">
        <td style="vertical-align: top;">Ancillary Clinic:</td>
        @if (ContainsNotNullProp(Model.ARObject, "AncillaryClinic"))
        {
            if (ContainsNotNullProp(Model.ARObject.AncillaryClinicInfo, "Title") && ContainsNotNullProp(Model.ARObject.AncillaryClinicInfo, "Address"))
            {
                <td>@Model.ARObject.AncillaryClinic <p style="margin-top:5px;margin-bottom:5px;"> @Model.ARObject.AncillaryClinicInfo.Address </p></td>}
            else
            {
                <td>@Model.ARObject.AncillaryClinic</td>}

        }
        else
        {
            <td></td>}
    </tr>
    <tr>
        <td>Phone:</td>
        @if (ContainsNotNullProp(Model.ARObject, "AncillaryPhone") && !string.IsNullOrEmpty(Model.ARObject.AncillaryPhone))
        {
            <td>
                @String.Format("({0}) {1}-{2}"
            , Model.ARObject.AncillaryPhone.Substring(0, 3)
            , Model.ARObject.AncillaryPhone.Substring(3, 3)
            , Model.ARObject.AncillaryPhone.Substring(6, Model.ARObject.AncillaryPhone.Length - 6))
            </td>  }
        else
        {
            <td></td>  }
    </tr>
    <tr>
        <td>Fax:</td>
        @if (ContainsNotNullProp(Model.ARObject, "AncillaryFax") && !string.IsNullOrEmpty(Model.ARObject.AncillaryFax))
        {
            <td>
                @String.Format("({0}) {1}-{2}"
            , Model.ARObject.AncillaryFax.Substring(0, 3)
            , Model.ARObject.AncillaryFax.Substring(3, 3)
            , Model.ARObject.AncillaryFax.Substring(6, Model.ARObject.AncillaryFax.Length - 6))
            </td>  }
        else
        {
            <td></td>  }
    </tr>
</table>
<section style="font-size: 12pt;max-width:720px; width: 75%;font-family: Tahoma, sans-serif;">
    <p><span>Thank you,</span></p>
    <span><strong>Corporate Remedies, Inc.</strong></span>
    <br />
    <span>Ancillary Resource Center</span>
    <br />
    <span>Ph: (866) 818-9190</span>
</section>
<footer style="font-size: 12pt;max-width:720px; width: 75%;">
    <br />
    <table width="100%" style="font-size: 12pt;font-family:Andale Mono">
        <tbody>
            <tr>
                <td class="small-heading" style="font-size: 12pt;text-decoration:underline;width:22%;">Texas</td>
                <td class="small-heading" style="font-size: 12pt;text-decoration:underline">Oklahoma</td>
            </tr>
            <tr>
                <!-- Phone -->
                <td>(888) 379-2049 Texas Fax</td>
                <td>(866) 349-0087 Oklahoma Fax</td>
            </tr>
            <tr>
                <!-- Email -->
                <td><a href="mailto:referrals@corporateremedies.com">referrals@corporateremedies.com</a></td>
                <td><a href="mailto:OKreferrals@corporateremedies.com">OKreferrals@corporateremedies.com</a></td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                </td>
            </tr>
            <tr>
                <!-- Web -->
                <td colspan="2">Visit our website at: <a href="http://www.corporateremedies.com">http://www.corporateremedies.com</a> </td>
            </tr>
        </tbody>
    </table>
    <p>"It is a pleasure to be of service"</p>
</footer>
<p style="font-size:10px;">
    CONFIDENTIALITY NOTICE: This message and all attachments transmitted herewith may contain legally privileged and confidential information intended solely for the use of the addressee. If the reader of this message is not the intended recipient, you are hereby notified that any reading, dissemination, distribution, copying, or other use of this message or its attachments is strictly prohibited.
    If you have received this message in error, please notify the sender immediately and delete this message from your system. Thank you.
</p>